<!doctype html>
<html ng-app="myApp">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 class="text-center">Supermarket Produce Tracker</h1>
    
    <div ng-controller="mainController">
      <div class="text-center">
        <input type='checkbox' ng-model="isUpperCase" ng-change="getProduce()"> Retreive as Uppercase
      </div>

      <div ng-if="getDelErrMsg" style="color: red; font-size: large; text-align: center;">
        {{getDelErrMsg}}
      </div>

      <table class="table table-striped table-bordered table-responsive">
        <thead>
          <th>Name</th>
          <th>Produce Code</th>
          <th>Unit Price</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr ng-repeat="produce in produceList">
            <td>{{produce.name}}</td>
            <td>{{produce.produceCode}}</td>
            <td>{{produce.unitPrice | currency}}</td>
            <td><button class="btn btn-danger" type="button" ng-click="deleteProduce(produce)">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <div class="panel panel-default">
        <div class="panel-heading">
          <strong style="font-size: 120%">Add New Produce</strong>
        </div>
        <div class="panel-body">
          <form class="form" novalidate="true">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" ng-model="newProduce.name" name="name" required>
            </div>

            <div class="form-group">
              <label for="produceCode">Produce Code:</label>
              <input type="text" class="form-control" ng-model="newProduce.produceCode" name="produceCode" required>
            </div>

            <div class="form-group">
              <label for="unitPrice">Unit Price:</label>
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" step="0.01" class="form-control" ng-model="newProduce.unitPrice" name="unitPrice">
              </div>
            </div>

            <div ng-if="errorMsg" style="color: red; font-size: large; text-align: center;">
              {{errorMsg}}
            </div>
            
            <div class="form-group pull-right">
              <button class="btn btn-primary" ng-click="addProduce(newProduce)">Add New Produce</button>
            </div>
          </form>
        </div>
      </div>

    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <script src="src/myApp.js"></script>
</body>
</html>