<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1 class="text-center">Supermarket Produce Tracker</h1>
    <div ng-controller="mainController">

      <table class="table table-striped table-bordered table-responsive">
        <thead>
          <th>Name</th>
          <th>Produce Code</th>
          <th>Unit Price</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr ng-repeat="produce in produceList">
            <td>{{produce.name}}</td>
            <td>{{produce.produceCode}}</td>
            <td>{{produce.unitPrice | currency}}</td>
            <td><button class="btn btn-danger" type="button" ng-click="deleteProduce(produce)">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <div class="panel panel-default">
        <div class="panel-heading">
          <strong style="font-size: 120%">Add New Produce</strong>
        </div>
        <div class="panel-body">
          <form class="form" novalidate="true">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" ng-model="newProduce.name" name="name" required>
            </div>

            <div class="form-group">
              <label for="name">Produce Code:</label>
              <input type="text" class="form-control" ng-model="newProduce.produceCode" name="name" required>
            </div>

            <div class="form-group">
              <label for="name">Unit Price:</label>
              <input type="text" class="form-control" ng-model="newProduce.unitPrice" name="name" required>
            </div>
            
            <div class="form-group pull-right">
              <button class="btn btn-primary" ng-click="addProduce(newProduce)">Add New Produce</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  <script src="http://code.angularjs.org/snapshot/angular.js"></script>
  <script src="http://code.angularjs.org/snapshot/angular-resource.js"></script>

  <script>
    angular.module('myApp', [])
      .controller('mainController', ['$scope', 'Produce', function ($scope, produce) {

        $scope.newProduce = {};

        $scope.produceList = produce.query();

        console.log($scope.produceList);

        $scope.addProduce = function(data) {
          produce.save(data, function(response){
            $scope.produceList = response.list;
          });
          $scope.newProduce = {};
        };

        $scope.deleteProduce = function(data) {
          produce.delete(data, function(response){
            $scope.produceList = response.list;
          });
        };

      }]);

    angular.module('myApp').factory('Produce', ['$resource', function($resource){
      return $resource('api/produce/:name', {
        });
    }]);

    angular.element(function() {
      angular.bootstrap(document, ['myApp', 'ngResource']);
    });
  </script>
</body>
</html>